/CL.read.1.tlog
/CL.write.1.tlog
/cl.command.1.tlog
/link-cvtres.read.1.tlog
/link-cvtres.write.1.tlog
/link.3924-cvtres.read.1.tlog
/link.3924-cvtres.write.1.tlog
/link.3924.read.1.tlog
/link.3924.write.1.tlog
/link.command.1.tlog
/link.read.1.tlog
/link.write.1.tlog
/main.obj
/mt.command.1.tlog
/mt.read.1.tlog
/mt.write.1.tlog
/rc.command.1.tlog
/rc.read.1.tlog
/rc.write.1.tlog
/um_uc_prog_tp2.exe.embed.manifest
/um_uc_prog_tp2.exe.embed.manifest.res
/um_uc_prog_tp2.exe.intermediate.manifest
/um_uc_prog_tp2.lastbuildstate
/um_uc_prog_tp2.log
/um_uc_prog_tp2_manifest.rc
/vc100.idb
/vc100.pdb
